@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}
body {
    font-family: Inter, Source Sans Pro;
    margin: 0;
    background-color: #F7F7F7;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: auto 23rem;
}

.header {
    background-color: #fff;
    padding: 16px 0 0 0;
}

/* ========== Числовые данные ==========*/

.for_numric_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    position: relative;
}

.for_numric_data:hover {
    box-shadow: none;
    transition: all 300ms ease;
}

.data-numeric-container {
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
}

.data-numeric-container:hover {
    box-shadow: none;
    transition: all 300ms ease;
}

.icon-number {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.box-text {
    width: 200px;
}
.icon{
    border-radius: 50%;
    background: var(--color-primary);
    padding:  0.6rem;
    color: var(--color-white);
}
.icon-arrow{
    margin-left: 10px;
}
.right-data-numeric{
    text-align: right;
}

.data-numeric-container p{
    font-size: 30px;
    font-weight: 700;
}
.data-numeric-info {
    width: 150px;
    text-align: left;
}


/* =========== ГРАФИКИ ===========*/

.main-container-for-graph {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    position:relative;
}

.container-for-graph{
    text-align: center;
    background-color: #fff;
    position:relative;
    width: 47%;
    border-radius: 10px;
    margin: 50px 20px 0 20px;
    box-shadow: 0 1rem 2rem rgba(132, 139, 200, 0.18);
    display: inline-block;
    transition: all 300ms ease
}
.container-for-graph:hover{
    box-shadow: none;
    transition: all 300ms ease
}
.graf-only {
    height: 400px;

}
.data-on-graph {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}

.TabGroup {
    position: relative;
    display: flex;
    top: 65px;
    right: 30px;
    z-index:99;
    margin-left: auto; 
}

.One_Tab{
    width: 50px;
    padding: 5px;
    box-shadow: 0 0.5rem 0.5rem rgba(132, 139, 200, 0.18);
}

.card{
    text-align:left;
    background-color: #F7F7F7;
    box-shadow: #222222;
}


.data-on-graph-container-test {
    align-items: center;
    gap: 2rem;
    height: 120px;
    margin: 0 20px 0 20px;
    width: 300;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
}

.data-on-graph-container-test:hover {
    box-shadow: none;
    transition: all 300ms ease;
    background: #f4f4f4;
}

.icon-and-text {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    margin-left: 20px;

}

.icon-and-text p {
    font-size:16px;
    color: #565656;
    font-weight: 500;
}
.icon-price {
    border-radius: 50%;
    background: var(--color-primary);
    padding:  0.6rem;
    color: var(--color-white);
}
.icon-amount {
    border-radius: 50%;
    background: var(--color-danger);
    padding:  0.6rem;
    color: var(--color-white);
}


.data-on-graph-info-test {
    text-align: left;
}
.number {
    margin: 0 20px 0 0;
    padding: 0;
    text-align: right;
    font-weight: 700;
    font-size: 30px;
}

.right-data {
    text-align: left;
    align-items: center;
    display: flex;
    gap: 1.8rem;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.data-on-graph-info {
    width: 130px;
    text-align: left;
}
.data-on-graph h5 {
    padding: 0 0 0 0;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px 0 0;
}

.muted-text {
    color: var(--color-info-dark);
    margin: 0 0 0 0;
}

.data-on-graph .right-data p {
    padding: 0 0 0 0;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin: 0 20px 0 0;
}

.select-right-data {
    padding: 0 0 0 0;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin: 0 20px 0 0;
}
.for-selectors{
    display: flex;
    z-index: 99;
}
.TabGroup-3 {
    position: relative;
    display: flex;
    align-items: center;
    top: 65px;
    right: 30px;
    z-index:99;
    margin-left: auto; 
    justify-content: right;
}

.choose-date {
    position: absolute;
    margin-top: 20px;
    font-size: 12px;
}

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right .top .profile {
    display: flex;
    gap: 0.8rem;
    text-align: right;
}
/* ----------------- SALES ANALYTICS ----------------- */
.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2{
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;
}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon {
    padding:  0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}


/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 1920px) {
    .container {
        width: 96%;
        grid-template-columns: auto 23rem;
        background-color: #222222;
    }}